{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/frontpage.css', version='10262019a') }}" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static',filename='scripts/feather.min.js') }}" crossorigin="anonymous"></script>
  <script> feather.replace() </script>
{% endblock %}

{% block content %}
<div>
  <div class = "row">
    <div class="col-4">
        <h5>WebMCP</h5>
        <div id="clientStatus" class="alert alert-danger">Not Connected</div>
    </div>
    <div class="col-8">
        <h5>WebControl</h5>
        <div id="webControlStatus" class="alert alert-danger">Not Running</div>
        <div id="webControlResponsivenessStatus" class="alert alert-danger">Nonresponsive</div>
    </div>
  </div>  
  <div class="row my-sm-0">
    <div class="col">
        <h5>WebControl Actions:</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-lg btn-block btn-success my-2 my-sm-0" onclick="action('startWebControl')">Start</button>
   </div>
   <div class="col-4">
      <button type="button" class="btn btn-lg btn-block btn-danger my-2 my-sm-0" onclick="action('stopWebControl')">Stop</button>
   </div>
   <div class="col-4">
      <button type="button" class="btn btn-lg btn-block btn-info my-2 my-sm-0" onclick="action('updateWebControl')">Update</button>
   </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5>WebMCP Messages</h5>
                </div>
                <div class="card-text scrollText"  style="height:100px" id='uiMessage'>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5>WebControl Messages</h5>
                </div>
                <div class="card-text scrollText"  style="height:200px" id='webControlMessage'>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
